﻿/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
.response h4 {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}


.media-left.response-text-left {
    float: left;
    width: 19%;
}

.response-text-right p {
    color: #777;
    font-size: 0.9em;
    margin: 0 0 1em;
    line-height: 1.9em;
}

.media-body.response-text-right ul li {
    color: #F26649;
    font-size: 0.9em;
    display: inline-block;
    font-weight: 400;
}

    .media-body.response-text-right ul li a {
        color: #4a245e;
        font-size: 1em;
        display: block;
        margin-top: 6px;
        margin-left: 2em;
    }

.media-body.response-text-right {
    float: right;
    width: 77%;
    text-align: left;
}

.media-left.response-text-left h5 a {
    color: #4A245E;
    font-weight: 400;
    line-height: 2em;
}

.media-left.response-text-left a img {
    border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.media-body.response-text-right ul li a:hover {
    text-decoration: none;
    color: #f26649;
}


@media (max-width:384px) {


    .general-text p, .top-text p, ul.bottom li, .about-content p, p.sub, .response-text-right p {
        font-size: 0.83em;
    }



    .media-left.response-text-left {
        float: left;
        width: 100%;
    }

    .media-body.response-text-right {
        float: right;
        width: 100%;
        text-align: left;
    }
}

@media (max-width:320px) {

    .general-text p, .top-text p, ul.bottom li, .about-content p, p.sub, .response-text-right p {
        font-size: 0.83em;
    }


    .media-left.response-text-left {
        float: left;
        width: 100%;
    }

    .media-body.response-text-right {
        float: right;
        width: 100%;
        text-align: left;
    }
}
