﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Congrat ! You have register success your account at Blog Engine</h1>
    <h2>Please review it carefully your information</h2>
    <p>Your username:{{UserName}}</p>
    <p>Your full name:{{FullName}}</p>
    <p>Your email :{{Email}}</p>
    <p>Please click here to <a href="{{Link}}"> sign in</a>your account </p>
</body>
</html>