﻿<!-- Starting Rendering Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Full Stack .NET Developer</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">
                        Home
                        <i class="fa fa-home"></i>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        Blogs
                        <i class="fa fa-comment-o"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about-me">
                        About me
                        <i class="fa fa-question-circle-o"></i>
                    </a>
                </li>
            </ul>



            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">

                    <ul class="nav navbar navbar-left">
                        <!--ASP.NET Identity here-->
                    </ul>


                <li class="nav-item">
                    <form class="navbar-form navbar-right" action="/posts/search-result/" method="get">
                        <div class="form-group typeahead__container">
                            <div class="typeahead__field ui-autocomplete-post">

                                <span class="typeahead__query">
                                    <input id="txtKeyword"
                                           name="keyword"
                                           type="search"
                                           class="js-typeahead"
                                           placeholder="Search" autocomplete="off" />
                                </span>
                            </div>
                        </div>
                        <button id="btnSearch"
                                type="submit"
                                class="btn btn-default">
                            Search
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        <div id="frm_signInPanel" class="container" title="Sign in to continue"></div>
    </div>
</nav>
<!-- Ending Rendering Header -->
