﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Blog Engine</title>
    <meta name="viewport" content="width=device-width" />
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website Landing Page for Developers">
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                @await Component.InvokeAsync("BreadCrumb", new { categoryId = ViewBag.CategoryId, subcategoryId = ViewBag.SubCategoryId })
                @RenderBody()
            </div>

            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                @await Html.PartialAsync("~/Views/Shared/_Category.cshtml")
                @await Html.PartialAsync("~/Views/Shared/_LastestComment.cshtml")
            </div>
            <div class="modal" id="wait"></div>
        </div>
    </div>

    <!--Using RenderPartial when render static Html-->
    @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
    <script src="~/js/site.min.js"></script>

    @*<script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validate/additional-methods.min.js"></script>
        <script src="~/lib/jquery-typeahead/jquery.typeahead.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap-treeview/bootstrap-treeview.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/Client/js/controllers/commonController.js"></script>*@

    @RenderSection("AboutJS", required: false)
    @RenderSection("PostJS", required: false)
    @RenderSection("SignUpJS", required: false)
</body>
</html>
