﻿@model BlogEngine.Assignment.Web.ViewModels.PaginationSetViewModel

@{
    var paginationModel = Model.PostPaginationSet;
    var keyword = Model.PostPaginationSet.Keyword;
    var sortingType = Model.PostPaginationSet.Sorting;

    string queryStringKeyword = "&keyword=" + keyword;
    string queryStringSortingType = "&sortingType=" + sortingType;
}

<div class="clearfix">
    <input type="hidden" id="txtHiddenKeyword" />
</div>
@if (!string.IsNullOrEmpty(keyword) && !string.IsNullOrEmpty(queryStringSortingType))
{
    if (paginationModel.TotalPages > 1)
    {
        //Create numberic links
        var startPageIndex = Math.Max(1, paginationModel.Page - paginationModel.MaxPage / 2);
        var endPageIndex = Math.Min(paginationModel.TotalPages, paginationModel.Page + paginationModel.MaxPage / 2);

        <nav>
            <ul class="pagination">
                @if (paginationModel.Page > 1)
                {
                    <li>
                        <a href="?page=1 @queryStringKeyword @queryStringSortingType" aria-label="First">
                            <i class="fa">First Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@(paginationModel.Page - 1) @queryStringKeyword @queryStringSortingType" aria-label="Previous">
                            <i class="fa">Previous Page</i>
                        </a>
                    </li>
                }
                @for (int pageIndex = startPageIndex; pageIndex <= endPageIndex; pageIndex++)
                {
                    if (paginationModel.Page == pageIndex)
                    {
                        <li class="active"><a href="?page=@pageIndex @queryStringKeyword @queryStringSortingType" title="Page @pageIndex">@pageIndex</a></li>
                    }
                    else
                    {
                        <li><a href="?page=@pageIndex @queryStringKeyword @queryStringSortingType" title="Page @pageIndex">@pageIndex</a></li>
                    }
                }
                @if (paginationModel.Page < paginationModel.TotalPages)
                {
                    <li>
                        <a href="?page=@(paginationModel.Page + 1) @queryStringKeyword @queryStringSortingType" aria-label="Next">
                            <i class="fa">Next Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@paginationModel.TotalPages @queryStringKeyword @queryStringSortingType" aria-label="Last">
                            <i class="fa">Last Page</i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else if (!string.IsNullOrEmpty(keyword))
{
    if (paginationModel.TotalPages > 1)
    {
        //Create numberic links
        var startPageIndex = Math.Max(1, paginationModel.Page - paginationModel.MaxPage / 2);
        var endPageIndex = Math.Min(paginationModel.TotalPages, paginationModel.Page + paginationModel.MaxPage / 2);

        <nav>
            <ul class="pagination">
                @if (paginationModel.Page > 1)
                {
                    <li>
                        <a href="?page=1" aria-label="First">
                            <i class="fa">First Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@(paginationModel.Page - 1)" aria-label="Previous">
                            <i class="fa">Previous Page</i>
                        </a>
                    </li>
                }
                @for (int pageIndex = startPageIndex; pageIndex <= endPageIndex; pageIndex++)
                {
                    if (paginationModel.Page == pageIndex)
                    {
                        <li class="active"><a href="?page=@pageIndex" title="Page @pageIndex">@pageIndex</a></li>
                    }
                    else
                    {
                        <li><a href="?page=@pageIndex" title="Page @pageIndex">@pageIndex</a></li>
                    }
                }
                @if (paginationModel.Page < paginationModel.TotalPages)
                {
                    <li>
                        <a href="?page=@(paginationModel.Page + 1)" aria-label="Next">
                            <i class="fa">Next Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@paginationModel.TotalPages" aria-label="Last">
                            <i class="fa">Last Page</i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else if (sortingType != 0)
{
    if (paginationModel.TotalPages > 1)
    {
        //Create numberic links
        var startPageIndex = Math.Max(1, paginationModel.Page - paginationModel.MaxPage / 2);
        var endPageIndex = Math.Min(paginationModel.TotalPages, paginationModel.Page + paginationModel.MaxPage / 2);

        <nav>
            <ul class="pagination">
                @if (paginationModel.Page > 1)
                {
                    <li>
                        <a href="?page=1 @queryStringSortingType" aria-label="First">
                            <i class="fa">First Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@(paginationModel.Page - 1) @queryStringSortingType" aria-label="Previous">
                            <i class="fa">Previous Page</i>
                        </a>
                    </li>
                }
                @for (int pageIndex = startPageIndex; pageIndex <= endPageIndex; pageIndex++)
                {
                    if (paginationModel.Page == pageIndex)
                    {
                        <li class="active"><a href="?page=@pageIndex @queryStringSortingType" title="Page @pageIndex">@pageIndex</a></li>
                    }
                    else
                    {
                        <li><a href="?page=@pageIndex @queryStringSortingType" title="Page @pageIndex">@pageIndex</a></li>
                    }
                }
                @if (paginationModel.Page < paginationModel.TotalPages)
                {
                    <li>
                        <a href="?page=@(paginationModel.Page + 1) @queryStringSortingType" aria-label="Next">
                            <i class="fa">Next Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@paginationModel.TotalPages @queryStringSortingType" aria-label="Last">
                            <i class="fa">Last Page</i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else
{
    if (paginationModel.TotalPages > 1)
    {
        //Create numberic links
        var startPageIndex = Math.Max(1, paginationModel.Page - paginationModel.MaxPage / 2);
        var endPageIndex = Math.Min(paginationModel.TotalPages, paginationModel.Page + paginationModel.MaxPage / 2);

        <nav>
            <ul class="pagination">
                @if (paginationModel.Page > 1)
                {
                    <li>
                        <a href="?page=1" aria-label="First">
                            <i class="fa">First Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@(paginationModel.Page - 1)" aria-label="Previous">
                            <i class="fa">Previous Page</i>
                        </a>
                    </li>
                }
                @for (int pageIndex = startPageIndex; pageIndex <= endPageIndex; pageIndex++)
                {
                    if (paginationModel.Page == pageIndex)
                    {
                        <li class="active"><a href="?page=@pageIndex" title="Page @pageIndex">@pageIndex</a></li>
                    }
                    else
                    {
                        <li><a href="?page=@pageIndex" title="Page @pageIndex">@pageIndex</a></li>
                    }
                }
                @if (paginationModel.Page < paginationModel.TotalPages)
                {
                    <li>
                        <a href="?page=@(paginationModel.Page + 1)" aria-label="Next">
                            <i class="fa">Next Page</i>
                        </a>
                    </li>
                    <li>
                        <a href="?page=@paginationModel.TotalPages" aria-label="Last">
                            <i class="fa">Last Page</i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
}