﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="#">Sort by</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown navbar-right">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Please choose
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="?sortingType=1">Most favorite articles</a></li>
                        <li><a href="?sortingType=2">Less favorite articles</a></li>
                        <li><a href="?sortingType=3">Newest articles</a></li>
                        <li><a href="?sortingType=4">Oldest articles</a></li>
                        <li><a href="?sortingType=5">Most commented articles</a></li>
                        <li><a href="?sortingType=6">Less commented articles</a></li>
                        <li><a href="?sortingType=7">Name alphabet</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
