﻿@model BlogEngine.Assignment.Web.ViewModels.PostCommentViewModel
@{
    ViewBag.Title = "Post Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var post = Model.Post;
    var comments = Model.Comments;
    //var _CommentText = BlogEngine.Common.Constants.ViewUrl._CommentText;
    //var _CommentArea = BlogEngine.Common.Constants.ViewUrl._CommentArea;
    //var isAuthenticated = Request.IsAuthenticated;
}
<section class="latest section">
    <div class="section-inner">
        <div class="content">
            <h3 class="title">
                <input type="hidden" id="txtPostId" name="postId" value="@post.ID" />
                @*<input type="hidden" id="txtIsSignedIn" name="signIn" value="@isAuthenticated" />*@
                <label>@post.Name</label><br />
                <small class="text-muted">@post.CreatedDate.Value.ToString("dd MMMM yyyy") by</small>
                <a href="#">
                    <span class="badge">@post.CreatedBy</span>
                </a>
                <a href="#" id="btnCountComments">
                    @if (post.CountComments > 1)
                    {
                        <small id="numberOfComments" class="text-primary number-of-comments">@post.CountComments comments</small>
                    }
                    else
                    {
                        <small id="numberOfComments" class="text-primary number-of-comments">@post.CountComments comment</small>
                    }
                </a>
            </h3>

            <div>
                <img class="post-image" src="~/Client/images/projects/project-featured.png" />
            </div>
            <!--Post Content Start-->
            <p>
                @post.Content
            </p>
            <!--Post Content End-->
            <!-- Post Blockquote Start -->
            <div>
                <blockquote class="blockquote">
                    <h4>Quote</h4>
                    <p>@post.Quote</p>
                </blockquote>
            </div>
            <!-- Post Blockquote End -->
            <!--Post Comments and Likes Start-->
            <div class="form-group" id="count-likes-comments">
                <ul class="nav nav-pills">
                    <li id="btnShowAllLikes" class="nav-item" role="presentation">
                        <a class="nav-link text-muted small" href="#">
                            @if (post.CountLikes > 1)
                            {
                                <small id="small-numberOfLikes">@post.CountLikes Likes</small>
                            }
                            else
                            {
                                <small id="small-numberOfLikes">@post.CountLikes Like</small>
                            }
                        </a>
                    </li>
                    <li id="btnShowAllComments" class="nav-item" role="presentation">
                        <a class="nav-link text-muted small" href="#">
                            @if (post.CountComments > 1)
                            {
                                <small id="small-numberOfComments">@post.CountComments Comments</small>
                            }
                            else
                            {
                                <small id="small-numberOfComments">@post.CountComments Comment</small>
                            }
                        </a>
                    </li>
                </ul>
            </div>
            <hr />
            <div class="clearfix"></div>
            <div class="form-group">
                <ul class="nav nav-pills">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#" id="likes">
                            Like
                            <i class="fa fa-thumbs-up"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link" role="presentation" href="#" id="comments">
                            Comment
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <br />
            <!--Post Comments and Likes End-->
            <div class="form-horizontal">
                @*@{ Html.RenderPartial(_CommentText); }*@
                <div id="comment-area" hidden="hidden">
                    @*@Html.Partial(_CommentArea, comments)*@
                </div>
            </div>
        </div>

        <div id="frm_signInDialog" class="container" title="Sign in to continue">

        </div>
    </div>
</section>
@section PostJS{
    <script src="~/Client/js/controllers/commentController.js" defer></script>
    <script src="~/Client/js/controllers/likePostController.js" defer></script>
}
